* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}



.navbar {
    max-width: 1280px;
    padding: 10 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 38px;
}

.nav-links a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}



.btn {
    text-decoration: none;
    background: #2d5bff;
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;

}
